$app-width: 100%;
$app-height: 100%;
$container-heigth: 95%;

html, body, .app {
  width: $app-width;
  height: $app-height;
  margin: 0;
  padding: 0;
}
.home-container {
  background-image: url(../images/pattern.svg);
  background-size: cover;
  width: $app-width;
  height: $app-height;
}

.main-container {
  width: $app-width;
  height: $container-heigth;
}

.weather-detail {
  margin-top: 100px
}


ul {
  list-style: none;
}
